* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.game-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 600px;
  margin: auto; 
  background-color: rgba(66, 65, 65, 0.486);
  cursor: none;
}

/* circle style and animation */
.circle {
  --circumference: 50px;
  height: var(--circumference);
  width: var(--circumference);
  border-radius: 50%;
  background-color: rgba(0, 128, 0, 0.87);
  position: absolute;
  animation: expand 2s;
}

.circle.pop {
  pointer-events: none;
  animation: pop 0.5s;
}

@keyframes pop {
  0% {
    background-color: white;
    transform: scale(1.2);
  }
  50% {
    background-color: red;
    transform: scale(2);
  }
  75% {
    background-color: orange;
    transform: scale(1.6);
  }
  80% {
    background-color: white;
    transform: scale(0.1);
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}