* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.game-board {
  position: relative;
  top: 150px;
  height: 600px;
  width: 600px;
  margin: 0 auto; 
  background-color: rgba(66, 65, 65, 0.486);
}

.circle {
  --radius: 50px;
  height: var(--radius);
  width: var(--radius);
  border-radius: 50%;
  background-color: rgba(34, 184, 235, 0.849);
  position: absolute;
}