* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.game-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 600px;
  margin: auto; 
  background-color: rgba(66, 65, 65, 0.486);
  cursor: none;
}

/* circle style and animation */
.circle {
  --circumference: 50px;
  height: var(--circumference);
  width: var(--circumference);
  border-radius: 50%;
  background-color: rgba(0, 128, 0, 0.87);
  position: absolute;
}
.circle.pop {
  pointer-events: none;
  animation: pop 0.5s;
}

@keyframes pop {
  0% {
    background-color: white;
    transform: scale(1.2);
  }
  50% {
    background-color: red;
    transform: scale(2);
  }
  75% {
    background-color: orange;
    transform: scale(1.6);
  }
  80% {
    background-color: white;
    transform: scale(0.1);
  }
}

/* user input */
.form-container {
  display: grid;
  height: auto;
  width: min-content;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid white;
  position: fixed;
  left: 30px;
  top: 50px;
  background-color: silver;
}

#username {
  height: 35px;
  width: 300px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0 0 5px black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 10px 0;
}

.form-container > form > label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.submit-button {
  height: auto;
  width: min-content;
  font-weight: bold;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}